<p-panel header="Pipes Numéricos" class="p-2">
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="del presente año">{{
      totalSells + random | number : "1.2-2"
    }}</p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas" subheader="del presente año">{{
      totalSells + random | currency : "MXD " : "symbol-narrow" : "1.3-3"
    }}</p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ganancia porcentual" subheader="del presente año">{{
      percent + random | percent : '1.2-2'
    }}</p-card>
  </div>
</div>
